/* Provide sufficient contrast against white background */
#GameStartedButton {
  background: rgb(139 139 255);
  border: 0px;
  color: white;
  width: 100%;
  font-weight: bold;
  padding: 8px;
  margin-top: 10px;
}
#Board button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 3px;
}
#Board {
    color: white;
}
#App header {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
#App header button {
  width: 50px;
  height: 50px;
  border: 0px;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 15px;
}

#App {
  margin: auto;
}

body {
  background: linear-gradient(115deg, white 75%,rgb(139 139 255) 43%);
  min-height: 100vh;
}

.EmptyField {
  background: rgb(242 242 242);
}
.Player1, .Player2 {
  background-size: 50px !important;
}
.Player1 {
  background: #5b5b5b url("public/superhero.png");
}

.Player2 {
  background: rgb(240 240 240) url("public/superhero2.png");
}
.AllowedFields1 {
  background-color: #36b964;
}
.AllowedFields2 {
  background-color: #ffa7a7;
}

.NotYourTurn {
  background: #ff6b6b;
  width: 100%;
  display: block;
  color: white;
  font-weight: bold;
  padding: 6px;
}